.siteStart
  margin:
    top: 80px
.controlPanel,.controlContent
  background: white
.controlContent
  border-right: #ddd 1px solid
  border-left: #ddd 1px solid
  border-bottom: #ddd 1px solid
  padding: 18px
.adminNav
  margin-bottom: 20px
 