/* line 2, ../sass/reage.sass */
body {
  background-image: url(../img/bg2.jpg);
  letter-spacing: 0.1em;
}
/* line 5, ../sass/reage.sass */
body a {
  color: #21587a;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #21587a;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #3991c8;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #3991c8;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #21587a;
}

/* line 8, ../sass/reage.sass */
.whiteBg {
  background: white;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 13, ../sass/reage.sass */
.headerTop {
  padding-top: 20px;
  padding-bottom: 0px;
}

/* line 17, ../sass/reage.sass */
.headerLeft {
  color: #cccccc;
  margin-top: 25px;
}

/* line 21, ../sass/reage.sass */
.headerRight {
  margin-top: 12px;
  text-align: right;
}
/* line 25, ../sass/reage.sass */
.headerRight .headerInfo {
  color: #999999;
  padding-right: 10px;
  margin-bottom: 20px;
}
/* line 31, ../sass/reage.sass */
.headerRight .headerInfo a {
  color: #aaaaaa;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.headerRight .headerInfo a:visited {
  color: #aaaaaa;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.headerRight .headerInfo a:focus {
  color: #356b8d;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.headerRight .headerInfo a:hover {
  color: #356b8d;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.headerRight .headerInfo a:active {
  color: #aaaaaa;
}

/* line 34, ../sass/reage.sass */
.socialMediaImage {
  margin-top: -5px;
}

/* line 37, ../sass/reage.sass */
.contentBlock {
  padding-bottom: 40px;
}

/* line 40, ../sass/reage.sass */
.contentBlockPage {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 44, ../sass/reage.sass */
#featured {
  margin: 0 auto;
}

/* line 46, ../sass/reage.sass */
.sliderContent {
  background: white;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 52, ../sass/reage.sass */
.navbar {
  font-size: 1em;
  margin-top: 10px;
}

/* line 55, ../sass/reage.sass */
.navbar .nav {
  float: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  text-align: right;
  /* */
}

/* line 63, ../sass/reage.sass */
.navbar .dropdown-menu [class*="span"] {
  padding-top: 10px;
}

/* line 66, ../sass/reage.sass */
.navbar .dropdown-menu > li.column-menu ul {
  display: inline-block;
  list-style: none outside none;
  margin: 0 0 16px;
  width: 100%;
}

/* line 72, ../sass/reage.sass */
.navbar .dropdown-menu > li.column-menu li {
  display: inline;
  float: left;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

/* line 79, ../sass/reage.sass */
.navbar .dropdown-menu > li.column-menu.firstcolumn {
  margin-left: 0;
}

/* line 82, ../sass/reage.sass */
.spanMenu padding {
  left: 20px;
  top: 5px;
  bottom: 5px;
}

/* line 88, ../sass/reage.sass */
.dropdown-menu {
  min-width: 180px;
}

/* line 91, ../sass/reage.sass */
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

/* line 99, ../sass/reage.sass */
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
  display: block;
}

/* line 104, ../sass/reage.sass */
.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

/* line 112, ../sass/reage.sass */
.nav-header {
  font-weight: none;
  font-size: 1em;
  color: black;
  padding: 0;
  margin-left: 20px;
}

/* line 119, ../sass/reage.sass */
.navbar-haoshan .navbar-inner {
  text-align: center;
  border: none;
}

/* line 128, ../sass/reage.sass */
.navbar-haoshan .brand, .navbar-haoshan .nav > li > a {
  color: #356b8d;
}

/* line 132, ../sass/reage.sass */
.navbar-inner {
  text-align: center;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: -moz-linear-gradient(#ffffff, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#ffffff, #ffffff);
  background-repeat: repeat-x;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavBgColorTop', endColorstr='$defaultNavBgColorBottom', GradientType=0);
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 3px 6px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 3px 6px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 3px 6px;
  border: none;
}

/* line 141, ../sass/reage.sass */
.navbar-haoshan .brand:hover, .navbar-haoshan .nav > li > a:hover, .navbar-haoshan .brand:focus, .navbar-haoshan .nav > li > a:focus {
  color: #356b8d;
}

/* line 143, ../sass/reage.sass */
.navbar-haoshan .brand {
  color: #999999;
}

/* line 145, ../sass/reage.sass */
.navbar .nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 151, ../sass/reage.sass */
.navbar-haoshan .nav > li > a:focus, .navbar-haoshan .nav > li > a:hover {
  color: #356b8d;
}

/* line 154, ../sass/reage.sass */
.navbar-haoshan .nav .active > a, .navbar-haoshan .nav .active > a:hover, .navbar-haoshan .nav .active > a:focus {
  color: #356b8d;
  background-color: #356b8d;
  outline: none;
}

/* line 158, ../sass/reage.sass */
.navbar-haoshan .navbar-link {
  color: #999999;
}

/* line 160, ../sass/reage.sass */
.navbar-haoshan .navbar-link:hover, .navbar-haoshan .navbar-link:focus {
  color: #356b8d;
}

/* line 162, ../sass/reage.sass */
.navbar-haoshan .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

/* line 165, ../sass/reage.sass */
.navbar-haoshan .nav li.dropdown.open > .dropdown-toggle, .navbar-haoshan .nav li.dropdown.active > .dropdown-toggle, .navbar-haoshan .nav li.dropdown.open.active > .dropdown-toggle {
  color: #356b8d;
  background: #e0e9ef;
}

/* line 170, ../sass/reage.sass */
.navbar-haoshan .nav li.dropdown > a:hover .caret, .navbar-haoshan .nav li.dropdown > a:focus .caret {
  border-top-color: white;
  border-bottom-color: white;
  outline: none;
}

/* line 174, ../sass/reage.sass */
.navbar-haoshan .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
}

/* line 177, ../sass/reage.sass */
.navbar-haoshan .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-haoshan .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-haoshan .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
  outline: none;
}

/* line 181, ../sass/reage.sass */
.navbar-haoshan .navbar-search .search-query {
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 192, ../sass/reage.sass */
.navbar-haoshan .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

/* line 194, ../sass/reage.sass */
.navbar-haoshan .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

/* line 196, ../sass/reage.sass */
.navbar-haoshan .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 198, ../sass/reage.sass */
.navbar-haoshan .navbar-search .search-query:focus, .navbar-haoshan .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333333;
  text-shadow: 0 1px 0 white;
  background-color: white;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

/* line 208, ../sass/reage.sass */
.navbar-haoshan .btn-navbar {
  color: #356b8d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  *background-color: #040404;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #356b8d), color-stop(100%, #225a7e));
  background-image: -webkit-linear-gradient(#356b8d, #225a7e);
  background-image: -moz-linear-gradient(#356b8d, #225a7e);
  background-image: -o-linear-gradient(#356b8d, #225a7e);
  background-image: linear-gradient(#356b8d, #225a7e);
  background-repeat: repeat-x;
  border-color: #040404 #040404 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 220, ../sass/reage.sass */
.navbar-haoshan .btn-navbar:hover, .navbar-haoshan .btn-navbar:focus, .navbar-haoshan .btn-navbar:active, .navbar-haoshan .btn-navbar.active, .navbar-haoshan .btn-navbar.disabled, .navbar-haoshan .btn-navbar[disabled] {
  color: #356b8d;
  background-color: #040404;
  *background-color: black;
}

/* line 224, ../sass/reage.sass */
.navbar-haoshan .btn-navbar:active, .navbar-haoshan .btn-navbar.active {
  background-color: black \9;
}

/* line 226, ../sass/reage.sass */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a, .spanMenu > a:hover, .spanMenu > a:focus, .spanMenu:hover > a, .spanMenu:focus > a {
  color: white;
  background: #356b8d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #356b8d), color-stop(100%, #225a7e));
  background-image: -webkit-linear-gradient(#356b8d, #225a7e);
  background-image: -moz-linear-gradient(#356b8d, #225a7e);
  background-image: -o-linear-gradient(#356b8d, #225a7e);
  background-image: linear-gradient(#356b8d, #225a7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
}

/* line 232, ../sass/reage.sass */
.spanMenu > a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

/* line 243, ../sass/reage.sass */
#contentSideMenuStyle {
  background: whitesmoke;
  border-radius: 10px;
}

/* line 246, ../sass/reage.sass */
#sideMenu {
  padding: 10px;
  list-style: none;
  margin-left: 10px;
}

/* line 251, ../sass/reage.sass */
.sideSubMenu {
  list-style: none;
  margin-left: 10px;
  padding-right: 10px;
}
/* line 256, ../sass/reage.sass */
.sideSubMenu li {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}

/* line 262, ../sass/reage.sass */
.sideMenuTitle {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
}

/* line 267, ../sass/reage.sass */
.sideMenuActive {
  color: white;
  background: #356b8d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #356b8d), color-stop(100%, #225a7e));
  background-image: -webkit-linear-gradient(#356b8d, #225a7e);
  background-image: -moz-linear-gradient(#356b8d, #225a7e);
  background-image: -o-linear-gradient(#356b8d, #225a7e);
  background-image: linear-gradient(#356b8d, #225a7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
}
/* line 273, ../sass/reage.sass */
.sideMenuActive a {
  color: white;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideMenuActive a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideMenuActive a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideMenuActive a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideMenuActive a:active {
  color: white;
}

/* line 275, ../sass/reage.sass */
.sideSubMenu > li:hover, .sideSubMenu > li:focus, .sideSubMenu:hover > a {
  color: white;
  background: #356b8d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #356b8d), color-stop(100%, #225a7e));
  background-image: -webkit-linear-gradient(#356b8d, #225a7e);
  background-image: -moz-linear-gradient(#356b8d, #225a7e);
  background-image: -o-linear-gradient(#356b8d, #225a7e);
  background-image: linear-gradient(#356b8d, #225a7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
  text-decoration: none;
}
/* line 282, ../sass/reage.sass */
.sideSubMenu > li:hover a, .sideSubMenu > li:focus a, .sideSubMenu:hover > a a {
  color: white;
  text-decoration: none;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideSubMenu > li:hover a:visited, .sideSubMenu > li:focus a:visited, .sideSubMenu:hover > a a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideSubMenu > li:hover a:focus, .sideSubMenu > li:focus a:focus, .sideSubMenu:hover > a a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideSubMenu > li:hover a:hover, .sideSubMenu > li:focus a:hover, .sideSubMenu:hover > a a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideSubMenu > li:hover a:active, .sideSubMenu > li:focus a:active, .sideSubMenu:hover > a a:active {
  color: white;
}

/* line 286, ../sass/reage.sass */
#myCarousel {
  background: #f2f3f3;
  text-align: center;
}

/* line 292, ../sass/reage.sass */
.carousel {
  margin-bottom: 0px;
}

/* line 294, ../sass/reage.sass */
.indexContent {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #f7f7f7;
}

/* line 304, ../sass/reage.sass */
.grey-line {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-bottom: 20px;
}
/* line 310, ../sass/reage.sass */
.grey-line span {
  padding: 10px;
  background: white;
}

/* line 313, ../sass/reage.sass */
.grey-line::before {
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 324, ../sass/reage.sass */
.grey-line2 {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-bottom: 10px;
}
/* line 330, ../sass/reage.sass */
.grey-line2 span {
  padding: 10px;
  background: #f3ede1;
}

/* line 333, ../sass/reage.sass */
.grey-line2::before {
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 344, ../sass/reage.sass */
.haoshan-calendar {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background: #f3ede1;
  border: 1px solid #f7f7f7;
  line-height: 1.9;
}
/* line 350, ../sass/reage.sass */
.haoshan-calendar ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.9;
}
/* line 356, ../sass/reage.sass */
.haoshan-calendar li {
  padding-top: 10px;
}

/* line 365, ../sass/reage.sass */
.haoshan-contentBlock {
  margin-top: 20px;
}

/* line 371, ../sass/reage.sass */
.herointo {
  background: #356b8d;
}
/* line 373, ../sass/reage.sass */
.herointo p {
  color: white;
  padding: 30px;
  font-size: 1.2em;
}

/* line 377, ../sass/reage.sass */
.heroIntro2 {
  background: #efefef;
  padding: 30px 30px 20px 30px;
  margin-bottom: 20px;
}
/* line 381, ../sass/reage.sass */
.heroIntro2 p {
  font-size: 1.2em;
}

/* line 383, ../sass/reage.sass */
.ADBlock {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 387, ../sass/reage.sass */
.navbar-haoshanbackup {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
}

/* line 401, ../sass/reage.sass */
#slideshowHolder {
  border: 10px solid #f3ede1;
  background: #f2f3f3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
}

/* line 406, ../sass/reage.sass */
footer {
  margin-top: 30px;
}

/* line 409, ../sass/reage.sass */
.blackTop {
  margin-top: 30px;
}

/* line 412, ../sass/reage.sass */
.footlinkArea {
  margin-top: 30px;
}

/* line 415, ../sass/reage.sass */
.footlink {
  text-align: center;
}

/* line 418, ../sass/reage.sass */
.footWord ul {
  list-style: none;
}

/* line 420, ../sass/reage.sass */
.copyright-footer {
  padding-top: 30px;
  color: #888888;
  font-size: 0.8em;
}

/* line 426, ../sass/reage.sass */
.list_carousel {
  margin: 0 0 30px 0px;
  width: 100%;
}
/* line 429, ../sass/reage.sass */
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
/* line 434, ../sass/reage.sass */
.list_carousel li {
  font-size: 20px;
  color: #999999;
  text-align: center;
  background: #eeeeee;
  padding: 0;
  margin: 15px;
  display: block;
  float: left;
}

/* line 443, ../sass/reage.sass */
.exfont {
  color: #555555;
  text-align: left;
}

/* line 447, ../sass/reage.sass */
#reage1 {
  padding-top: 50px;
}

/* line 449, ../sass/reage.sass */
#reage2 {
  padding-top: 50px;
}

/* line 451, ../sass/reage.sass */
#reage3 {
  padding-top: 50px;
}

/* line 453, ../sass/reage.sass */
#reage4 {
  padding-top: 120px;
}

/* line 455, ../sass/reage.sass */
#mono1 {
  padding-top: 90px;
}

/* line 457, ../sass/reage.sass */
#mono2 {
  padding-top: 100px;
}

/* line 459, ../sass/reage.sass */
#tornado1 {
  padding-top: 60px;
}

/* line 461, ../sass/reage.sass */
.IntroDiv {
  margin-top: -20px;
}

/* line 463, ../sass/reage.sass */
.waveLiftNav {
  padding-bottom: 20px;
}

/* line 466, ../sass/reage.sass */
.waveliftingImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 470, ../sass/reage.sass */
.threadWord {
  text-align: center;
  background: #e3eaef;
  padding: 15px;
  font-size: 1.2em;
}

/* line 475, ../sass/reage.sass */
.waveIntroWord {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 40px 20px 40px;
  color: white;
  background: #225177;
  text-align: center;
}

/* line 483, ../sass/reage.sass */
#usesfor {
  padding-top: 20px;
}
/* line 486, ../sass/reage.sass */
#usesfor h2 {
  padding-left: 50px;
}
/* line 488, ../sass/reage.sass */
#usesfor ul {
  list-style: none;
  padding: 0;
  margin-left: 80px;
}
/* line 492, ../sass/reage.sass */
#usesfor ul li {
  background: url("../img/wavelifting/blueList.gif") no-repeat;
  padding: 17px 0 17px 50px;
  font-size: 14px;
}
/* line 496, ../sass/reage.sass */
#usesfor ul .blueList1 {
  background-position: 0px 0px;
}
/* line 498, ../sass/reage.sass */
#usesfor ul .blueList2 {
  background-position: 0px -150px;
}
/* line 500, ../sass/reage.sass */
#usesfor ul .blueList3 {
  background-position: 0px -300px;
}
/* line 502, ../sass/reage.sass */
#usesfor ul .blueList4 {
  background-position: 0px -450px;
}
/* line 504, ../sass/reage.sass */
#usesfor ul .blueList5 {
  background-position: 0px -600px;
}
/* line 506, ../sass/reage.sass */
#usesfor ul .blueList6 {
  background-position: 0px -750px;
}

/* line 508, ../sass/reage.sass */
#care {
  margin-top: 20px;
}
/* line 510, ../sass/reage.sass */
#care .headerList {
  background: url("../img/headerList.jpg") no-repeat;
  padding: 5px 0 5px 20px;
  font-size: 1.1em;
}
/* line 514, ../sass/reage.sass */
#care .careContent {
  margin-left: 20px;
  padding-bottom: 15px;
}

/* line 518, ../sass/reage.sass */
.seminarDocument {
  margin-bottom: 15px;
}
/* line 520, ../sass/reage.sass */
.seminarDocument h4 {
  background: url("../img/headerList.jpg") no-repeat;
  padding: 5px 0 5px 20px;
}
/* line 523, ../sass/reage.sass */
.seminarDocument ul {
  list-style: none;
}
/* line 525, ../sass/reage.sass */
.seminarDocument ul li {
  padding-bottom: 10px;
}
/* line 527, ../sass/reage.sass */
.seminarDocument ul ol {
  margin-left: 50px;
}

/* line 530, ../sass/reage.sass */
#seminarNavBar {
  background: whitesmoke;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

/* line 537, ../sass/reage.sass */
#sideMenu {
  list-style: none;
  margin-left: 20px;
}

/* line 542, ../sass/reage.sass */
.seminarSubMenu {
  list-style: none;
  padding: 0 10px 0 20px;
  margin-left: 10px;
}
/* line 547, ../sass/reage.sass */
.seminarSubMenu li {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 552, ../sass/reage.sass */
.seminarSideMenuActive {
  color: white;
  background: #356b8d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #356b8d), color-stop(100%, #225a7e));
  background-image: -webkit-linear-gradient(#356b8d, #225a7e);
  background-image: -moz-linear-gradient(#356b8d, #225a7e);
  background-image: -o-linear-gradient(#356b8d, #225a7e);
  background-image: linear-gradient(#356b8d, #225a7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
}
/* line 558, ../sass/reage.sass */
.seminarSideMenuActive a {
  color: white;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSideMenuActive a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSideMenuActive a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSideMenuActive a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSideMenuActive a:active {
  color: white;
}

/* line 560, ../sass/reage.sass */
.seminarSubMenu > li:hover, .sideSubMenu > li:focus, .sideSubMenu:hover > a {
  color: white;
  background: #356b8d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #356b8d), color-stop(100%, #225a7e));
  background-image: -webkit-linear-gradient(#356b8d, #225a7e);
  background-image: -moz-linear-gradient(#356b8d, #225a7e);
  background-image: -o-linear-gradient(#356b8d, #225a7e);
  background-image: linear-gradient(#356b8d, #225a7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
  text-decoration: none;
}
/* line 567, ../sass/reage.sass */
.seminarSubMenu > li:hover a, .sideSubMenu > li:focus a, .sideSubMenu:hover > a a {
  color: white;
  text-decoration: none;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSubMenu > li:hover a:visited, .sideSubMenu > li:focus a:visited, .sideSubMenu:hover > a a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSubMenu > li:hover a:focus, .sideSubMenu > li:focus a:focus, .sideSubMenu:hover > a a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSubMenu > li:hover a:hover, .sideSubMenu > li:focus a:hover, .sideSubMenu:hover > a a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSubMenu > li:hover a:active, .sideSubMenu > li:focus a:active, .sideSubMenu:hover > a a:active {
  color: white;
}

/* line 570, ../sass/reage.sass */
#eventSubMenu {
  list-style: none;
  margin: 0;
}
/* line 573, ../sass/reage.sass */
#eventSubMenu li {
  padding-left: 30px;
}

/* line 575, ../sass/reage.sass */
.seminarDate {
  font-size: 14px;
  padding-left: 10px;
  color: #555555;
}

/* line 582, ../sass/reage.sass */
.magazineDownload a {
  color: white;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.magazineDownload a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.magazineDownload a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.magazineDownload a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.magazineDownload a:active {
  color: white;
}

/* line 585, ../sass/reage.sass */
#waveliftingUser {
  padding-top: 80px;
}

/* line 587, ../sass/reage.sass */
#unusesfor {
  padding-top: 20px;
}
/* line 590, ../sass/reage.sass */
#unusesfor h2 {
  padding-left: 50px;
}
/* line 592, ../sass/reage.sass */
#unusesfor ul {
  list-style: none;
  padding: 0;
  margin-left: 80px;
}
/* line 596, ../sass/reage.sass */
#unusesfor ul li {
  background: url("../img/wavelifting/redList.gif") no-repeat;
  padding: 17px 0 17px 50px;
  font-size: 14px;
}
/* line 600, ../sass/reage.sass */
#unusesfor ul .redList1 {
  background-position: 0px 0px;
}
/* line 602, ../sass/reage.sass */
#unusesfor ul .redList2 {
  background-position: 0px -150px;
}
/* line 604, ../sass/reage.sass */
#unusesfor ul .redList3 {
  background-position: 0px -300px;
}
/* line 606, ../sass/reage.sass */
#unusesfor ul .redList4 {
  background-position: 0px -450px;
}
/* line 608, ../sass/reage.sass */
#unusesfor ul .redList5 {
  background-position: 0px -600px;
}
/* line 610, ../sass/reage.sass */
#unusesfor ul .redList6 {
  background-position: 0px -750px;
}

/* line 612, ../sass/reage.sass */
#waveliftingUnuse {
  padding-top: 0px;
}

/* line 614, ../sass/reage.sass */
#reageUserfor {
  margin-top: -20px;
  margin-bottom: -20px;
}

/* line 618, ../sass/reage.sass */
#retime {
  padding-top: 40px;
}

/* line 621, ../sass/reage.sass */
.waveproduct {
  margin-top: 20px;
}

/* line 623, ../sass/reage.sass */
.ReageMono {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 630, ../sass/reage.sass */
.mono1 {
  padding-top: 80px;
}

/* line 632, ../sass/reage.sass */
.mono2 {
  padding-top: 80px;
}

/* line 634, ../sass/reage.sass */
.tornado1 {
  padding-top: 60px;
}

/* line 636, ../sass/reage.sass */
.tornado2 {
  padding-top: 10px;
}

/* line 638, ../sass/reage.sass */
.teach0 {
  padding-top: 110px;
}

/* line 640, ../sass/reage.sass */
.teach1 {
  padding-top: 160px;
}

/* line 642, ../sass/reage.sass */
.teach2 {
  padding-top: 20px;
}
/* line 644, ../sass/reage.sass */
.teach2 h2 {
  padding-left: 10px;
}
/* line 646, ../sass/reage.sass */
.teach2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 650, ../sass/reage.sass */
.teach2 ul li {
  background: url("../img/wavelifting/orangeList.gif") no-repeat;
  padding: 10px 0 17px 50px;
  font-size: 14px;
}
/* line 654, ../sass/reage.sass */
.teach2 ul .orange1 {
  background-position: 0px 0px;
}
/* line 656, ../sass/reage.sass */
.teach2 ul .orange2 {
  background-position: 0px -150px;
}
/* line 658, ../sass/reage.sass */
.teach2 ul .orange3 {
  background-position: 0px -300px;
}
/* line 660, ../sass/reage.sass */
.teach2 ul .orange4 {
  background-position: 0px -450px;
}

/* line 662, ../sass/reage.sass */
.threeline {
  padding-top: 30px;
}

/* line 667, ../sass/reage.sass */
.QandA {
  padding-bottom: 20px;
  list-style: none;
  margin: 0;
}
/* line 671, ../sass/reage.sass */
.QandA .question {
  background: url("../img/q.png") no-repeat;
  padding: 7px 0 15px 40px;
  font-size: 14px;
}
/* line 675, ../sass/reage.sass */
.QandA .answer {
  background: url("../img/a.png") no-repeat;
  padding: 7px 0 15px 40px;
  font-size: 14px;
}

/* line 681, ../sass/reage.sass */
.storyContent {
  padding-top: 20px;
}

@media (min-width: 980px) and (max-width: 1200px) {
  /* line 689, ../sass/reage.sass */
  .mono1 {
    padding-top: 40px;
  }

  /* line 691, ../sass/reage.sass */
  .mono2 {
    padding-top: 20px;
  }

  /* line 693, ../sass/reage.sass */
  .tornado1 {
    padding-top: 20px;
  }

  /* line 695, ../sass/reage.sass */
  .tornado2 {
    padding-top: 5px;
  }

  /* line 697, ../sass/reage.sass */
  .teach0 {
    padding-top: 55px;
  }

  /* line 699, ../sass/reage.sass */
  .teach1 {
    padding-top: 80px;
  }

  /* line 701, ../sass/reage.sass */
  .teach2 {
    padding-top: 40px;
  }

  /* line 704, ../sass/reage.sass */
  #usesfor h2 {
    padding: 0;
  }
  /* line 706, ../sass/reage.sass */
  #usesfor ul {
    margin-left: 0;
  }

  /* line 708, ../sass/reage.sass */
  .sliderContent {
    padding-left: 10;
    padding-right: 10;
  }

  /* line 712, ../sass/reage.sass */
  #topImageLogo {
    width: 260px;
    padding-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 718, ../sass/reage.sass */
  .whiteBg, .waveIntroWord {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 722, ../sass/reage.sass */
  .mono1, .mono2, .tornado1, .tornado2, .ReageMono, .teach1, .teach0 {
    padding: 0px;
  }

  /* line 724, ../sass/reage.sass */
  .teach2 {
    padding-top: 20px;
  }

  /* line 726, ../sass/reage.sass */
  .sliderContent {
    padding-left: 10;
    padding-right: 10;
  }
}
@media (max-width: 767px) {
  /* line 733, ../sass/reage.sass */
  .grey-line span, .grey-line2 span {
    line-height: 8em;
    background: none;
  }

  /* line 736, ../sass/reage.sass */
  .mono1, .mono2, .tornado1, .tornado2, .ReageMono, .teach1, .teach0 {
    padding: 0px;
  }

  /* line 738, ../sass/reage.sass */
  .teach2 {
    padding-top: 20px;
  }

  /* line 741, ../sass/reage.sass */
  #usesfor h2 {
    padding-left: 0px;
  }
  /* line 743, ../sass/reage.sass */
  #usesfor ul {
    margin-left: 0px;
  }

  /* line 745, ../sass/reage.sass */
  .sliderContent {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 749, ../sass/reage.sass */
  #topImageLogo {
    width: 260px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}
/* line 755, ../sass/reage.sass */
.blankHeight {
  height: 40px;
}
