/* line 2, ../sass/stylesheet.sass */
body {
  background-color: white;
}

/* line 4, ../sass/stylesheet.sass */
hr {
  border-top: 1px solid #bec0c3;
  border-bottom: 2px solid white;
}

/* line 8, ../sass/stylesheet.sass */
.navbar {
  font-size: 1em;
}

/* line 10, ../sass/stylesheet.sass */
.haoshan-nav {
  padding-top: 0px;
}

/* line 13, ../sass/stylesheet.sass */
.navbar-haoshan {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
}

/* line 27, ../sass/stylesheet.sass */
.haoshan-header {
  margin-top: 85px;
}

/* line 29, ../sass/stylesheet.sass */
.navTop {
  margin-top: 10px;
  margin-right: 10px;
}

/* line 34, ../sass/stylesheet.sass */
.haoshan-calendar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#ffffff, #ececec);
  background-image: -moz-linear-gradient(#ffffff, #ececec);
  background-image: -o-linear-gradient(#ffffff, #ececec);
  background-image: linear-gradient(#ffffff, #ececec);
  border: 1px solid #cccccc;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 39, ../sass/stylesheet.sass */
.haoshan-calendar h4 {
  color: #666666;
}

/* line 46, ../sass/stylesheet.sass */
.carousel-indicators {
  position: absolute;
  top: 340px;
}

/* line 50, ../sass/stylesheet.sass */
.carousel-border img {
  border: 1px solid #cccccc;
}

/* line 53, ../sass/stylesheet.sass */
.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 57, ../sass/stylesheet.sass */
.carousel-control {
  background: #cccccc;
}

/* line 59, ../sass/stylesheet.sass */
.tp-bannershadow {
  background: url(../img/shadow1.png);
  background-size: 100%;
  height: 40px;
  bottom: -30px;
  margin-top: -20px;
  background-repeat: no-repeat;
}

/* line 68, ../sass/stylesheet.sass */
.index-WordsDiv {
  background-image: url(../img/bg.jpg);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 0 inset;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 74, ../sass/stylesheet.sass */
.index-Word {
  background-image: url(../img/bg.jpg);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #999999;
  font-size: 2em;
}

/* line 81, ../sass/stylesheet.sass */
.indexContent {
  background: white;
  border: 1px solid #cccccc;
  padding: 20px;
}
/* line 85, ../sass/stylesheet.sass */
.indexContent img {
  padding-bottom: 30px;
}
/* line 88, ../sass/stylesheet.sass */
.indexContent hr {
  padding-top: 10px;
  width: 80%;
  margin: 0 auto;
}

/* line 93, ../sass/stylesheet.sass */
.indexContentSubTitle {
  color: #999999;
  font-size: 1.5em;
}

/* line 97, ../sass/stylesheet.sass */
footer {
  margin-top: 20px;
}

/* line 101, ../sass/stylesheet.sass */
.footWord ol, .footWord li, .footWord ul {
  list-style: none;
}

/* line 103, ../sass/stylesheet.sass */
.footlink {
  text-align: center;
}

/* line 105, ../sass/stylesheet.sass */
.footlinkArea {
  background: #cccccc;
}

/* line 107, ../sass/stylesheet.sass */
.nav-image {
  margin-top: -4px;
}

/* line 109, ../sass/stylesheet.sass */
.haoshan-contentBlock {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border: 1px solid #cccccc;
}
