/* line 1, ../sass/style.sass */
body {
  background: #fbfbfb;
  color: #666666;
}

/* line 4, ../sass/style.sass */
.navbar {
  font-size: 1em;
}

/* line 6, ../sass/style.sass */
.haoshan-nav {
  padding-top: 12px;
}

/* line 9, ../sass/style.sass */
.siteHeader {
  padding: absolute;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 10px;
}

/* line 15, ../sass/style.sass */
.siteHeader:after {
  padding: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 22, ../sass/style.sass */
.index_block {
  background: white;
  border: 1px solid #ececec;
}

/* line 25, ../sass/style.sass */
.carousel {
  margin-bottom: 0px;
}

/* line 27, ../sass/style.sass */
.img-outline {
  border: 1px solid #ececec;
}

/* line 29, ../sass/style.sass */
.footer_block {
  padding: 10px;
  background: white;
}

/* line 33, ../sass/style.sass */
.footWord ul {
  margin: 10px;
}
/* line 35, ../sass/style.sass */
.footWord ul li {
  list-style: none;
  font-size: 1em;
  color: #555555;
}

/* line 39, ../sass/style.sass */
.info-content {
  background: #efefef;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  border: 1px solid #cccccc;
}

/* line 49, ../sass/style.sass */
.HeaderBlock {
  position: relative;
  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 40px;
  padding-left: 0px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  background: #020031;
  background: -moz-linear-gradient(45deg, #3f89b2 0%, #93cce7 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031), color-stop(100%, #6d3353));
  background: -webkit-linear-gradient(45deg, #3f89b2 0%, #93cce7 100%);
  background: -o-linear-gradient(45deg, #3f89b2 0%, #93cce7 100%);
  background: -ms-linear-gradient(45deg, #3f89b2 0%, #93cce7 100%);
  background: linear-gradient(45deg, #3f89b2 0%, #93cce7 100%);
}

/* line 70, ../sass/style.sass */
.HeaderBlock:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/bs-docs-masthead-pattern.png") repeat center center;
  opacity: 0.4;
}

/* line 81, ../sass/style.sass */
.HeaderBlock h1 {
  text-align: left;
}

/* line 83, ../sass/style.sass */
.content_words {
  text-align: left;
}
/* line 85, ../sass/style.sass */
.content_words h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 89, ../sass/style.sass */
.content_words ul {
  margin: 0;
}
/* line 91, ../sass/style.sass */
.content_words ul li {
  list-style: none;
}

/* line 93, ../sass/style.sass */
.EnglishName {
  font-size: 14px;
  color: #6e6e6e;
}

/* line 97, ../sass/style.sass */
.inside-leftContent {
  padding-top: 160px;
}
/* line 100, ../sass/style.sass */
.inside-leftContent ul {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  text-align: left;
}
/* line 106, ../sass/style.sass */
.inside-leftContent ul li {
  padding: 0;
}

/* line 108, ../sass/style.sass */
.contentStart {
  padding-top: 20px;
}

/* line 111, ../sass/style.sass */
.wave1 {
  padding-top: 50px;
}

/* line 113, ../sass/style.sass */
.wave2 {
  padding-top: 10px;
}

/* line 115, ../sass/style.sass */
.wave3 {
  padding-top: 70px;
}

/* line 117, ../sass/style.sass */
.reage1 {
  padding-top: 80px;
}

/* line 120, ../sass/style.sass */
.wave1 h1, .wave1 p, .wave1 ol, .wave1 ul, .wave1 li, .wave2 h1, .wave2 p, .wave2 ol, .wave2 ul, .wave2 li, .wave3 h1, .wave3 p, .wave3 ol, .wave3 ul, .wave3 li, .reage1 h1, .reage1 p, .reage1 ol, .reage1 ul, .reage1 li, .different1 h1, .different1 p, .different1 ol, .different1 ul, .different1 li {
  margin-left: 40px;
  margin-right: 40px;
}

/* line 125, ../sass/style.sass */
.qandTitle {
  margin-left: 20px;
  padding-bottom: 20px;
}

/* line 130, ../sass/style.sass */
.QandA {
  margin-left: 30px;
  padding-bottom: 30px;
}

/* line 135, ../sass/style.sass */
.question {
  font-size: 1.1em;
  list-style: none;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  list-style: none;
  background: url("../img/q.png") no-repeat top left;
}

/* line 144, ../sass/style.sass */
.answer {
  padding-left: 40px;
  padding-bottom: 8px;
  padding-top: 8px;
  list-style: none;
  background: url("../img/a.png") no-repeat top left;
}

/* line 152, ../sass/style.sass */
#contactDIV {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  background: #efefef;
  text-align: center;
  padding: 20px;
}

/* line 161, ../sass/style.sass */
#contactINFO {
  margin-right: 10px;
  margin-top: 40px;
  margin-left: 10px;
}
/* line 166, ../sass/style.sass */
#contactINFO img {
  padding-top: 80px;
}

/* line 168, ../sass/style.sass */
#contactAddress {
  margin-top: 20px;
}

/* line 172, ../sass/style.sass */
.fromup {
  margin-top: 20px;
}

/* line 175, ../sass/style.sass */
.oops {
  color: #3878ae;
}

/* line 179, ../sass/style.sass */
.seminarContent ol li {
  padding: 5px;
}

/* line 181, ../sass/style.sass */
.seminarIntro {
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  border: 1px solid #ececec;
  padding: 20px;
}
/* line 188, ../sass/style.sass */
.seminarIntro h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 195, ../sass/style.sass */
#empty-cart {
  background: #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid #dddddd;
}

/* line 202, ../sass/style.sass */
.empty-cart-word {
  color: #dddddd;
}

/* line 204, ../sass/style.sass */
.remark {
  font-size: 12px;
  color: #999999;
}

/* line 207, ../sass/style.sass */
.grey-line {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-bottom: 20px;
}
/* line 213, ../sass/style.sass */
.grey-line span {
  padding: 10px;
  background: white;
}

/* line 216, ../sass/style.sass */
.grey-line::before {
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 227, ../sass/style.sass */
.grey-line2 {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-bottom: 10px;
}
/* line 233, ../sass/style.sass */
.grey-line2 span {
  padding: 10px;
  background: #f3ede1;
}

/* line 236, ../sass/style.sass */
.grey-line2::before {
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 247, ../sass/style.sass */
.grey-line3 {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-bottom: 10px;
}
/* line 253, ../sass/style.sass */
.grey-line3 span {
  padding: 10px;
  background: white;
}

/* line 256, ../sass/style.sass */
.grey-line3::before {
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 267, ../sass/style.sass */
.content-top {
  margin-top: 50px;
}
