@import basic.sass
body
  background-image: url(../img/bg2.jpg)
  letter-spacing: 0.1em
  a
    +link-colors($linkColorNormal, $linkColorHover, $linkColorActive, $linkColorVisited, $linkColorFocus)
    //link-colors($normal, $hover, $active, $visited, $focus)
.whiteBg
  background: $backgroundColor
  padding:
    left: $outSpace 
    right: $outSpace
.headerTop
  padding: 
    top: 20px
    bottom: 0px
.headerLeft
  color: #ccc
  margin:
    top: 25px
.headerRight
  margin:
    top: 12px
  text-align: right
  .headerInfo
    color: #999
    padding:
      right: 10px
    margin:
      bottom: 20px
    a
      +link-colors($linkColorNormalHeaderInfo, $linkColorHoverHeaderInfo, $linkColorActiveHeaderInfo, $linkColorVisitedHeaderInfo, $linkColorFocusHeaderInfo)
    //link-colors($normal, $hover, $active, $visited, $focus)
.socialMediaImage
  margin:
    top: -5px
.contentBlock
  padding:
    bottom: $outSpace
.contentBlockPage
  padding:
    top: $outSpace
    bottom: $outSpace
#featured
  margin: 0 auto
.sliderContent
  background: $backgroundColor
  padding:
    left: $outSpace 
    right: $outSpace
//NAVbar
.navbar
  font-size: $defaultNavFontSize
  margin-top: 10px
.navbar .nav
  float: none
  display: inline-block
  *display: inline
  *zoom: 1
  vertical-align: top
  text-align: right //text-align: center
  /**/
.navbar .dropdown-menu [class*="span"]
  padding-top: 10px

.navbar .dropdown-menu > li.column-menu ul 
  display: inline-block
  list-style: none outside none
  margin: 0 0 16px
  width: 100%

.navbar .dropdown-menu > li.column-menu li 
  display: inline
  float: left
  width: 100%
  text-align: left
  padding:
    left: 20px
.navbar .dropdown-menu > li.column-menu.firstcolumn 
  margin-left: 0
.spanMenu
  padding
    left: 20px
    top: 5px
    bottom: 5px

//**
.dropdown-menu
  min-width: 180px
//submenu
.dropdown-menu .sub-menu 
  left: 100%
  position: absolute
  top: 0
  visibility: hidden
  margin-top: -1px


.dropdown-menu li:hover .sub-menu 
  visibility: visible
  display: block


.navbar .sub-menu:before 
  border-bottom: 7px solid transparent
  border-left: none
  border-right: 7px solid rgba(0, 0, 0, 0.2)
  border-top: 7px solid transparent
  left: -7px
  top: 10px
//custom Nav Style
.nav-header
  font-weight: none
  font-size: 1em
  color: black
  padding: 0
  //text-align: left
  margin-left: 20px
.navbar-haoshan .navbar-inner
  text-align: center
  //background-color: $defaultNavBgColorTop
  //+background-image(linear-gradient($defaultNavBgColorTop, $defaultNavBgColorBottom))
  //background-repeat: repeat-x
  //+border-radius($defaultNavRadiusSize)
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavBgColorTop', endColorstr='$defaultNavBgColorBottom', GradientType=0)
  //+box-shadow(rgba(black, .4) 0 3px 6px)
  border: none
.navbar-haoshan .brand, .navbar-haoshan .nav > li > a
  //color: #fff
  color: $defaultNavFontColor
  //text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
.navbar-inner
  text-align: center
  background-color: $defaultNavBgColorTop
  +background-image(linear-gradient($defaultNavBgColorTop, $defaultNavBgColorBottom))
  background-repeat: repeat-x
  +border-radius($defaultNavRadiusSize)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavBgColorTop', endColorstr='$defaultNavBgColorBottom', GradientType=0)
  +box-shadow(rgba(white, .4) 0 3px 6px)
  border: none
.navbar-haoshan .brand:hover,.navbar-haoshan .nav > li > a:hover,.navbar-haoshan .brand:focus,.navbar-haoshan .nav > li > a:focus 
  color: $defaultNavFontColor
.navbar-haoshan .brand
  color: #999999
.navbar .nav > li > a
  padding:
    left: 30px
    right: 30px
    top: 12px
    bottom: 12px
.navbar-haoshan .nav > li > a:focus,.navbar-haoshan .nav > li > a:hover
  color: $defaultNavFontColor
  //background-color: transparent
.navbar-haoshan .nav .active > a,.navbar-haoshan .nav .active > a:hover,.navbar-haoshan .nav .active > a:focus
  color: $defaultNavFontColor
  background-color: $defaultNavHoverBgColor
  outline: none
.navbar-haoshan .navbar-link
  color: #999999
.navbar-haoshan .navbar-link:hover,.navbar-haoshan .navbar-link:focus
  color: $defaultNavFontColor
.navbar-haoshan .divider-vertical
  border-right-color: #222222
  border-left-color: #111111
.navbar-haoshan .nav li.dropdown.open > .dropdown-toggle,.navbar-haoshan .nav li.dropdown.active > .dropdown-toggle,.navbar-haoshan .nav li.dropdown.open.active > .dropdown-toggle 
  color: $defaultNavFontColor
  background: $defaultNavBgHoverColor
  //color: $defaultNavFontColor
  //background-color: $defaultNavHoverBgColor
.navbar-haoshan .nav li.dropdown > a:hover .caret,.navbar-haoshan .nav li.dropdown > a:focus .caret
  border-top-color: $defaultNavBorderTopColor
  border-bottom-color: $defaultNavBorderTopBottom
  outline: none
.navbar-haoshan .nav li.dropdown > .dropdown-toggle .caret 
  border-top-color: $defaultNavHoverBorderTopColor
  border-bottom-color: $defaultNavHoverBorderTopBottom
.navbar-haoshan .nav li.dropdown.open > .dropdown-toggle .caret,.navbar-haoshan .nav li.dropdown.active > .dropdown-toggle .caret,.navbar-haoshan .nav li.dropdown.open.active > .dropdown-toggle .caret
  border-top-color: $defaultNavBorderTopColor
  border-bottom-color: $defaultNavBorderTopBottom
  outline: none
.navbar-haoshan .navbar-search .search-query 
  //color: $defaultNavFontColor
  //background-color: #515151
  border-color: #111111
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15)
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15)
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15)
  -webkit-transition: none
  -moz-transition: none
  -o-transition: none
  transition: none
.navbar-haoshan .navbar-search .search-query:-moz-placeholder
  color: #cccccc
.navbar-haoshan .navbar-search .search-query:-ms-input-placeholder 
  color: #cccccc
.navbar-haoshan .navbar-search .search-query::-webkit-input-placeholder 
  color: #cccccc
.navbar-haoshan .navbar-search .search-query:focus,.navbar-haoshan .navbar-search .search-query.focused
  padding: 5px 15px
  color: #333333
  text-shadow: 0 1px 0 #ffffff
  background-color: #ffffff
  border: 0
  outline: 0
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
.navbar-haoshan .btn-navbar 
  color: $defaultNavFontColor
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  background-color: #0e0e0e
  *background-color: #040404
  +background-image(linear-gradient($defaultNavStyle2BgColorTop, $defaultNavStyle2BgColorBottom))
  background-repeat: repeat-x
  border-color: #040404 #040404 #000000
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)

.navbar-haoshan .btn-navbar:hover,.navbar-haoshan .btn-navbar:focus,.navbar-haoshan .btn-navbar:active,.navbar-haoshan .btn-navbar.active,.navbar-haoshan .btn-navbar.disabled,.navbar-haoshan .btn-navbar[disabled] 
  color: $defaultNavFontColor
  background-color: #040404
  *background-color: #000000
.navbar-haoshan .btn-navbar:active,.navbar-haoshan .btn-navbar.active
  background-color: #000000 \9
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus,.dropdown-submenu:hover > a,.dropdown-submenu:focus > a,.spanMenu > a:hover,.spanMenu > a:focus,.spanMenu:hover > a,.spanMenu:focus > a
  color: $defaultNavFont2Color
  background: $defaultNavStyle2BgColorTop
  +background-image(linear-gradient($defaultNavStyle2BgColorTop, $defaultNavStyle2BgColorBottom))
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0)
.spanMenu > a
  padding:
    left: 20px
    right: 20px
    top: 5px
    bottom: 5px
  text-decoration: none

//custom Nav Style END

//SideMenuBar
#contentSideMenuStyle
  background: $SideMenuBgColor
  border-radius: 10px
#sideMenu
  padding: 10px
  list-style: none
  margin:
    left: 10px
.sideSubMenu
  list-style: none
  margin:
    left: 10px
  padding-right: 10px
  li
    padding:
      left: 20px
      top: 5px
      bottom: 5px
      right: 20px
.sideMenuTitle
  font-size: 15px
  padding:
    top: 15px
    bottom: 5px
.sideMenuActive
  color: #fff
  background: $defaultNavStyle2BgColorTop
  +background-image(linear-gradient($defaultNavStyle2BgColorTop, $defaultNavStyle2BgColorBottom))
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0)
  a
    +link-colors(#fff, #fff, #fff, #fff, #fff)
.sideSubMenu > li:hover,.sideSubMenu > li:focus,.sideSubMenu:hover > a
  color: #fff
  background: $defaultNavStyle2BgColorTop
  +background-image(linear-gradient($defaultNavStyle2BgColorTop, $defaultNavStyle2BgColorBottom))
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0)
  text-decoration: none
  a
    +link-colors(#fff, #fff, #fff, #fff, #fff)
    text-decoration: none
//
#myCarousel
  //border: 10px solid #f3ede1
  background: #f2f3f3
  //+box-shadow(rgba(black, .2) 0 3px 5px)

  text-align: center
.carousel
  margin-bottom: 0px
.indexContent
  text-align: center
  padding:
    top: 20px
    bottom: 20px
    left: 20px
    right: 20px
  +border-radius($defaultNavRadiusSize)
  background: #f7f7f7

.grey-line
  position: relative
  text-align: center
  z-index: 1
  padding:
    bottom: 20px
  span
    padding: 10px
    background: #fff
.grey-line::before
  border-top: 1px solid #dfdfdf
  margin: 0 auto
  position: absolute
  content: ''
  top: 20px
  bottom: 0
  left: 0
  right: 0
  width: 100%
  z-index: -1
.grey-line2
  position: relative
  text-align: center
  z-index: 1
  padding:
    bottom: 10px
  span
    padding: 10px
    background: #f3ede1
.grey-line2::before
  border-top: 1px solid #dfdfdf
  margin: 0 auto
  position: absolute
  content: ''
  top: 10px
  bottom: 0
  left: 0
  right: 0
  width: 100%
  z-index: -1
.haoshan-calendar
  padding: 
    top: 10px
    bottom: 20px
    right: 20px
    left: 20px
  ul
    list-style: none
    margin:
      left: 10px
      right: 10px
    line-height: 1.9
  li
    padding:
      top: 10px
  background: #f3ede1
  border: 1px solid #f7f7f7
  line-height: 1.9
//+border-radius(10px)
//+background-image(linear-gradient(#fefefe, #eee))
  color: #555
.haoshan-contentBlock
  margin:
    top: 20px
//+background-image(linear-gradient(#fefefe, #eee))
  
//border: 1px solid #ccc
.herointo
  background: #356b8d
  p
    color: #fff
    padding: 30px
    font-size: 1.2em
.heroIntro2
  background: #efefef
  padding: 30px 30px 20px 30px
  margin-bottom: 20px
  p
    font-size: 1.2em
.ADBlock
  padding: 
    top: 20px
    bottom: 20px
.navbar-haoshanbackup
  min-height: 40px
  padding-right: 20px
  padding-left: 20px
  background-color: #fafafa
  +background-image(linear-gradient(#ffffff, #f2f2f2))
  background-repeat: repeat-x
  border: 1px solid #d4d4d4
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0)
  *zoom: 1
  +box-shadow(rgba(black, .6) 0 1px 6px)
#slideshowHolder
  border: 10px solid #f3ede1
  background: #f2f3f3
  +box-shadow(rgba(black, .4) 0 3px 5px)
//footer Style
footer
  margin:
    top: 30px
.blackTop
  margin:
    top: 30px
.footlinkArea
  margin:
    top: 30px
.footlink
  text-align: center
.footWord
  ul
    list-style: none
.copyright-footer
  padding:
    top: 30px
  color: #888
  font-size: 0.8em
//
.list_carousel
  margin: 0 0 30px 0px
  width: 100%
  ul
    margin: 0
    padding: 0
    list-style: none
    display: block
  li
    font-size: 20px
    color: #999
    text-align: center
    background: #eee
    padding: 0
    margin: 15px
    display: block
    float: left
.exfont
  color: #555
  text-align: left
//Wavelifting
#reage1
  padding-top: 50px
#reage2
  padding-top: 50px
#reage3
  padding-top: 50px
#reage4
  padding-top: 120px
#mono1
  padding-top: 90px
#mono2
  padding-top: 100px
#tornado1
  padding-top: 60px
.IntroDiv
  margin-top: -20px
.waveLiftNav
  padding:
    bottom: 20px
.waveliftingImage
  display: block
  margin-left: auto
  margin-right: auto
.threadWord
  text-align: center
  background: #e3eaef
  padding: 15px
  font-size: 1.2em
.waveIntroWord
  margin:
    top: 20px 
    bottom: 20px
  padding: 20px 40px 20px 40px
  color: #fff
  background: #225177
  text-align: center
#usesfor
  padding:
    top: 20px
  h2
    padding-left: 50px
  ul
    list-style: none
    padding: 0 
    margin-left: 80px
    li
      background: url('../img/wavelifting/blueList.gif') no-repeat
      padding: 17px 0 17px 50px//17px 0 17px 50px
      font-size: 14px
    .blueList1
      background-position: 0px 0px
    .blueList2
      background-position: 0px -150px
    .blueList3
      background-position: 0px -300px
    .blueList4
      background-position: 0px -450px
    .blueList5
      background-position: 0px -600px
    .blueList6
      background-position: 0px -750px
#care
  margin-top: 20px
  .headerList
    background: url('../img/headerList.jpg') no-repeat
    padding: 5px 0 5px 20px
    font-size: 1.1em
  .careContent
    margin-left: 20px
    padding-bottom: 15px
//Seminar
.seminarDocument
  margin-bottom: 15px
  h4
    background: url('../img/headerList.jpg') no-repeat
    padding: 5px 0 5px 20px
  ul
    list-style: none
    li
      padding-bottom: 10px
    ol
      margin-left: 50px

#seminarNavBar
  background: $SideMenuBgColor
  border-radius: 10px
  margin:
    top: 20px

  padding: 10px
#sideMenu
  list-style: none
  margin:
    left: 20px

.seminarSubMenu
  list-style: none
  padding: 0 10px 0 20px
  margin:
    left: 10px
  li
    padding:
      left: 20px
      top: 5px
      bottom: 5px
.seminarSideMenuActive
  color: #fff
  background: $defaultNavStyle2BgColorTop
  +background-image(linear-gradient($defaultNavStyle2BgColorTop, $defaultNavStyle2BgColorBottom))
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0)
  a
    +link-colors(#fff, #fff, #fff, #fff, #fff)
.seminarSubMenu > li:hover,.sideSubMenu > li:focus,.sideSubMenu:hover > a
  color: #fff
  background: $defaultNavStyle2BgColorTop
  +background-image(linear-gradient($defaultNavStyle2BgColorTop, $defaultNavStyle2BgColorBottom))
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0)
  text-decoration: none
  a
    +link-colors(#fff, #fff, #fff, #fff, #fff)
    text-decoration: none
#eventSubMenu
  list-style: none
  margin: 0
  li
    padding-left: 30px
.seminarDate
  font-size: 14px
  padding-left: 10px
  color: #555
//Seminar end
//report
.magazineDownload
  a
    +link-colors(#fff, #fff, #fff, #fff, #fff)
//report end
#waveliftingUser
  padding-top: 80px
#unusesfor
  padding:
    top: 20px
  h2
    padding-left: 50px
  ul
    list-style: none
    padding: 0 
    margin-left: 80px
    li
      background: url('../img/wavelifting/redList.gif') no-repeat
      padding: 17px 0 17px 50px//17px 0 17px 50px
      font-size: 14px
    .redList1
      background-position: 0px 0px
    .redList2
      background-position: 0px -150px
    .redList3
      background-position: 0px -300px
    .redList4
      background-position: 0px -450px
    .redList5
      background-position: 0px -600px
    .redList6
      background-position: 0px -750px
#waveliftingUnuse
  padding-top: 0px
#reageUserfor
  margin:
    top: -20px
    bottom: -20px
#retime
  padding:
    top: 40px
.waveproduct
  margin-top: 20px
.ReageMono
  //background: #f7f7f7
  //+border-radius(10px)
  padding: 
    top: 10px
    bottom: 10px
    //left: 20px
.mono1
  padding-top: 80px
.mono2
  padding-top: 80px
.tornado1
  padding-top: 60px
.tornado2
  padding-top: 10px
.teach0
  padding-top: 110px
.teach1
  padding-top: 160px
.teach2
  padding-top: 20px
  h2
    padding-left: 10px
  ul
    list-style: none
    padding: 0
    margin: 0
    li
      background: url('../img/wavelifting/orangeList.gif') no-repeat
      padding: 10px 0 17px 50px
      font-size: 14px
    .orange1
      background-position: 0px 0px
    .orange2
      background-position: 0px -150px
    .orange3
      background-position: 0px -300px
    .orange4
      background-position: 0px -450px
.threeline
  padding-top: 30px

//
//Q and A 常見問題
.QandA
  padding-bottom: 20px
  list-style: none
  margin: 0
  .question
    background: url('../img/q.png') no-repeat
    padding: 7px 0 15px 40px
    font-size: 14px
  .answer
    background: url('../img/a.png') no-repeat
    padding: 7px 0 15px 40px
    font-size: 14px
//
//story
.storyContent
  padding:
    top: 20px
//標準
@media (min-width: 1200px)
  

@media (min-width: 980px) and (max-width: 1200px)
  .mono1
    padding-top: 40px
  .mono2
    padding-top: 20px
  .tornado1
    padding-top: 20px
  .tornado2
    padding-top: 5px
  .teach0
    padding-top: 55px
  .teach1
    padding-top: 80px
  .teach2
    padding-top: 40px
  #usesfor
    h2
      padding: 0
    ul
      margin-left: 0
  .sliderContent
    padding:
      left: 10
      right: 10
  #topImageLogo
    width: 260px
    padding:
      top: 10px
//平板
@media (min-width: 768px) and (max-width: 979px)
  .whiteBg,.waveIntroWord
    padding:
      left: 20px
      right: 20px
  .mono1, .mono2, .tornado1, .tornado2, .ReageMono, .teach1, .teach0
    padding: 0px
  .teach2
    padding-top: 20px
  .sliderContent
    padding:
      left: 10
      right: 10
//平板直
@media (max-width: 767px)
  .grey-line, .grey-line2
    span
      line-height: 8em
      background: none
  .mono1, .mono2, .tornado1, .tornado2, .ReageMono, .teach1, .teach0
    padding: 0px
  .teach2
    padding-top: 20px
  #usesfor
    h2
      padding-left: 0px
    ul
      margin-left: 0px
  .sliderContent
    padding:
      left: 0
      right: 0
  #topImageLogo
    width: 260px
    margin:
      top: -20px
      bottom: 20px
//test//
.blankHeight
  height: 40px