body
  background: #fbfbfb
  color: #666
.navbar
  font-size: 1em
.haoshan-nav
  padding:
    top: 12px
.siteHeader
  padding: absolute
  text-align: center
  margin-top: 75px
  margin-bottom: 10px
  
.siteHeader:after
  padding: absolute
  display: none
  top: 0
  right: 0
  left: 0
  bottom: 0
.index_block
  background: #fff
  border: 1px solid #ececec
.carousel
  margin-bottom: 0px 
.img-outline
  border: 1px solid #ececec
.footer_block
  padding: 10px
  background: white
.footWord
  ul
    margin: 10px
    li
      list-style: none
      font-size: 1em
      color: #555
.info-content
  background: #efefef
  padding: 
    top: 20px
    left: 20px
    right: 20px
    bottom: 30px
  border: 1px solid #ccc
    
//=================通用======================
.HeaderBlock
  position: relative
  padding:
    top: 40px
    right: 0px
    bottom: 40px
    left: 0px
  color: #fff
  text-align: center
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075)
  background: #020031/* Old browsers */
  background: -moz-linear-gradient(45deg,  #3f89b2 0%, #93cce7 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #3f89b2 0%,#93cce7 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #3f89b2 0%,#93cce7 100%)/* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #3f89b2 0%,#93cce7 100%) /* IE10+ */
  background: linear-gradient(45deg,  #3f89b2 0%,#93cce7 100%) /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
  // -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)
  // -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)
  // box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)
.HeaderBlock:after 
  content: ''
  display: block
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: url("../img/bs-docs-masthead-pattern.png") repeat center center
  // background: url("../img/haoshan-pattern.png") repeat center center
  opacity: .4
.HeaderBlock h1
  text-align: left
.content_words
  text-align: left
  h4
    padding:
      top: 10px
      bottom: 10px
  ul
    margin: 0
    li
      list-style: none
.EnglishName
  font-size: 14px
  color: #6e6e6e
//=================wavelift======================
.inside-leftContent
  padding:
    top: 160px
  ul
    padding:
      top: 20px
      bottom: 20px
    list-style: none
    text-align: left
    li
      padding: 0
.contentStart
  padding:
    top: 20px
.wave1
  padding-top: 50px
.wave2
  padding-top: 10px
.wave3
  padding-top: 70px
.reage1
  padding-top: 80px
.wave1,.wave2,.wave3,.reage1,.different1
  h1,p,ol,ul,li
    margin:
      left: 40px
      right: 40px
//=================wavelift Qand A======================
.qandTitle
  margin:
    left: 20px
  padding:
    bottom: 20px
.QandA    
  margin:
    left: 30px
  padding:
    bottom: 30px
.question
  font-size: 1.1em
  list-style: none
  padding:
    left: 40px
    top: 8px
    bottom: 8px
  list-style: none
  background: url("../img/q.png") no-repeat top left
.answer
  padding:
    left: 40px
    bottom: 8px
    top: 8px
  list-style: none
  background: url("../img/a.png") no-repeat top left
//=================contact Form======================
#contactDIV
  margin:
    top: 40px
    left: 10px
    right: 10px
    bottom: 40px
  background: #efefef
  text-align: center
  padding: 20px
#contactINFO
  margin:
    right: 10px
    top: 40px
    left: 10px
  img
    padding-top: 80px
#contactAddress
  margin:
    top: 20px
//=================seminar======================
.fromup
  margin:
    top: 20px
.oops
  color: #3878ae
.seminarContent
  ol
    li
      padding: 5px
.seminarIntro
  margin:
    top: 20px
    bottom: 20px
  background: #FFF
  border: 1px solid #ececec
  padding: 20px
  h4
    // color: black
    margin:
      top: 15px
      bottom: 15px
.seminarIntroP
  // color: black
#empty-cart
  background: #eee
  padding:
    top: 20px
    bottom: 20px
  text-align: center
  border: 1px solid #DDD
.empty-cart-word
  color: #DDD
.remark
  font-size: 12px
  color: #999
.grey-line
  position: relative
  text-align: center
  z-index: 1
  padding:
    bottom: 20px
  span
    padding: 10px
    background: #fff
.grey-line::before
  border-top: 1px solid #dfdfdf
  margin: 0 auto
  position: absolute
  content: ''
  top: 20px
  bottom: 0
  left: 0
  right: 0
  width: 100%
  z-index: -1
.grey-line2
  position: relative
  text-align: center
  z-index: 1
  padding:
    bottom: 10px
  span
    padding: 10px
    background: #f3ede1
.grey-line2::before
  border-top: 1px solid #dfdfdf
  margin: 0 auto
  position: absolute
  content: ''
  top: 10px
  bottom: 0
  left: 0
  right: 0
  width: 100%
  z-index: -1
.grey-line3
  position: relative
  text-align: center
  z-index: 1
  padding:
    bottom: 10px
  span
    padding: 10px
    background: #fff
.grey-line3::before
  border-top: 1px solid #dfdfdf
  margin: 0 auto
  position: absolute
  content: ''
  top: 10px
  bottom: 0
  left: 0
  right: 0
  width: 100%
  z-index: -1
.content-top
  margin:
    top: 50px